<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>issuer</key>
  <string>https://dev-369378.okta.com/oauth2/default</string>
  <key>clientId</key>
  <string>0oa2egg8fajwoTSUg357</string>
  <key>redirectUri</key>
  <string>com.okta.dev-369378:/callback</string>
  <key>scopes</key>
  <array>
    <string>offline_access</string>
    <string>openid</string>
    <string>profile</string>
    <string>address</string>
    <string>email</string>
    <string>phone</string>
    <string>offline_access</string>
  </array>
</dict>
</plist>
